* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.main-body {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.ui.menu.main-menu {
    height: 60px;
    padding: 0 40px;
    margin: 0;
}

.main-menu .header.item {
    font-size: 22px;
    color: #1F2D3D;
 }    

.ui.menu.main-menu .item {
    padding-left: 0;
}

.ui.menu.main-menu .item:before {
    width: 0;
}

.main-section {
    display: flex;
    flex: 1;
    padding: 20px 40px;
}

.main-nav {
    order: 1;
}

.main-content {
    flex: 1;
}

.main-content .ui.segment {
    margin-right: 20px;
    padding: 20px;
}
